body {
    font-family: Verdana, Segoe UI, sans-serif;
}

.portfolio-picture{
    display: block;
    object-fit: cover;
    border: 5px solid #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}
.navbar{
    font-size: medium;
    font-weight: bold;
}
.contact-cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.card {
    background-color: #C2C5AA;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}
body {
    background-color: #A4AC86;
    font-size: 12px;
    color: #333D29;
    margin: 0;
}

.portfolio-header {
    background-color: #333D29;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.portfolio-section {
    border-bottom: 2px solid #B6AD90;
    background-color: #A68A64;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.portfolio-section-alternate {
    border-bottom: 2px solid #A68A64;
    background-color: #B6AD90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.portfolio-footer {
    background-color: #333D29;
    color: white;
    text-align: center;
}


