body {
    background-color: #A4AC86;
    font-family: Verdana, Segoe UI, sans-serif;
    font-size: 12px;
    color: #333D29;
    margin: 0;
}

.portfolio-picture{
    display: block;
    object-fit: cover;
    border: 5px solid #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}
.navbar{
    font-size: medium;
    font-weight: bold;
}
.contact-cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.card {
    background-color: #C2C5AA;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

a {
    color: #936639;
    text-decoration: none;
}

a:hover {
    color: #7F4F24;
    text-decoration: underline;
}


.portfolio-header {
    background-color: #333D29;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.portfolio-section {
    border-bottom: 2px solid #B6AD90;
    background-color: #A68A64;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.portfolio-section-alternate {
    border-bottom: 2px solid #A68A64;
    background-color: #B6AD90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.portfolio-footer {
    background-color: #333D29;
    color: white;
    text-align: center;
}
.hobby-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.hobby-list li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
}
.skills-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    gap: 15px;
    margin: 20px 20px;
    width: 100%;
}

.skill-card {
    background-color: #7F4F24;
    color: #C2C5AA;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.hover-effect {
    transform: scale(1.25);
    color: #333D29;
}