body {
    background-color: #A4AC86;
    font-family: Verdana, Segoe UI, sans-serif;
    font-size: 16px;
    color: #333D29;
    margin: 0;
}
.portfolio-picture{
    display: block;
    object-fit: cover;
    border: 5px solid #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}
.portfolio-section, .portfolio-section-alternate  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.portfolio-section h1, .portfolio-section-alternate h1, h2 {
    align-self: flex-start;
    width: 100%;
    text-align: left;
}
.portfolio-section {
    background-color: #A68A64;
}
.portfolio-section-alternate {
    background-color: #B6AD90;
}
.navbar{
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.contact-cards {
    display: flex;
    justify-content: space-around;
    gap: 35px;
}
.card {
    background-color: #C2C5AA;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 0;
}

a {
    color: #936639;
    text-decoration: none;
}

a:hover {
    color: #7F4F24;
    text-decoration: underline;
}

.portfolio-header {
    background-color: #333D29;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}
.portfolio-footer {
    background-color: #333D29;
    color: white;
    text-align: center;
}
.hobbies-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin: 20px;
    justify-content: center;
}
.hobby-card {
    background-color: #414833;
    color: #C2C5AA;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.skills-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 15px;
    margin: 20px;
    justify-content: center;
}

.skill-card {
    background-color: #7F4F24;
    color: #C2C5AA;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.hover-effect {
    transform: scale(1.25);
    color: #333D29;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    width: 100%;;
    box-sizing: border-box;
}

.project-card {
    background-color: #C2C5AA;
    padding: 20px;
    border-radius: 12px;
    color: #333D29;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #582F0E;
}

.project-card p {
    line-height: 1.5;
}
.photo-carousel {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-carousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.carousel-button {
    background-color: #7F4F24;
    color: #C2C5AA;
    border: none;
    font-size: 24px;
    padding: 10px 10px;
    cursor: pointer;
    height: fit-content;
}

.portfolio-footer {
    background-color: #333D29;
    color: #C2C5AA;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .navbar{
        font-size: medium;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    img, video {
        max-width: 100%;
        height: auto;
    }

    .skills-grid, .hobbies-grid {
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .projects-grid {
        grid-template-columns: auto;
        padding: 10px;
        justify-content: center;
    }

    .project-card {
        width: 100%;
        box-sizing: border-box;
    }

    .photo-carousel {
        width: 100%;
        height: auto;
    }

    .photo-carousel img {
        height: auto;
    }

    .contact-cards {
        flex-direction: column;
        align-items: center;
    }
    .carousel-button {
        font-size: 20px;
        padding: 8px 8px;
        max-width: 120px;
    }
}