body {
    font-family: Verdana, Segoe UI, sans-serif;
    font-size: 18px;
    color: black;
    margin: 0;
}
.portfolio-picture{
    display: block;
    object-fit: cover;
    border: 5px solid #d71024;
    margin-top: 6px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    flex-shrink: 0;
}
.portfolio-about{
    background: url("../images/body-bg.jpg") center / cover no-repeat;
    min-height: 600px;
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-container{
    display: grid;
    grid-template-columns: 200px auto auto;
    column-gap: 32px;
    max-width: 1600px;
    margin: 0 auto;
}
.about-description{
    background: transparent;
    align-self: center;
    border: none;
    padding: 0;
}
p > b {
   color: #d71024;
}
.portfolio-section, .portfolio-section-alternate  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.portfolio-section h1, .portfolio-section-alternate h1, h2 {
    align-self: flex-start;
    width: 100%;
    text-align: left;
}
.portfolio-about h1{
    align-self: flex-start;
    width: 100%;
    text-align: left;
    color: #d71024;
}
.portfolio-section {
    background-color: #d71024;
    color: white;
}
.portfolio-section-alternate {
    background-color: white;
}
.navbar{
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

a {
    color: #d71024;
    text-decoration: none;
}

a:hover {
    color: #07a655;
    text-decoration: underline;
}

.portfolio-header {
    background-color: white;
    padding: 20px;
}
.portfolio-footer {
    background-color: white;
    color: #d71024;
    text-align: center;
    padding: 15px;
}

.carousel-inner {
    height: 400px;
    overflow: hidden;
}
.carousel-item {
    height: 100%;
}
.carousel-item img {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.navbar a {
    color: #d71024;
    font-size: 24px;
    text-decoration: none;

}.navbar a:hover {
     color: #07a655;
 }
.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.hobbies-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px 25px;
    margin: 20px;
    justify-content: center;
}
.hobby-card {
    background-color: #d71024;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.projects-grid .project-divider {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    height: 2px;
    background-color: white;
    margin: 32px 0;
}
.skills-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 6px;
    column-gap: 34px;
}
.skills-list li{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
}

.hover-effect {
    transform: scale(1.25);
    color: #07a655;
    background-color: #e1bf07;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;

    gap: 20px;
    padding: 20px;
    width: 100%;;
    box-sizing: border-box;
}
.project-card {
    align-self: center;
}
.hobbies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}
.photo-carousel {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-carousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.carousel-button {
    background-color: #e1bf07;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 10px;
    cursor: pointer;
    height: fit-content;


}
.hobby-card.camera {
    cursor: url('../icons/camera.ico'), auto;
}
.hobby-card.controller {
    cursor: url('../icons/controller.ico'), auto;
}
.hobby-card.skateboard {
    cursor: url('../icons/skateboard.ico'), auto;
}
.hobby-card.server {
    cursor: url('../icons/server.ico'), auto;
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e1bf07' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e1bf07' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");

}
#carouselExampleIndicators1 .carousel-indicators button,
#carouselExampleIndicators2 .carousel-indicators button,
#carouselExampleIndicators3 .carousel-indicators button,
#carouselExampleIndicators4 .carousel-indicators button {
    background-color: #e1bf07 ;
    opacity: 1 ;
    border: none ;
}

#carouselExampleIndicators1 .carousel-indicators button.active,
#carouselExampleIndicators2 .carousel-indicators button.active,
#carouselExampleIndicators3 .carousel-indicators button.active,
#carouselExampleIndicators4 .carousel-indicators button.active {
    background-color: #07a655 ;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .navbar {
        font-size: medium;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .skills-list,
    .hobbies-grid {
        display: grid;
        grid-template-columns: auto auto ;
        gap: 15px;
        justify-content: center;
        margin: 0 auto;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        justify-content: center;
    }

    .photo-carousel {
        width: 100%;
        min-height: 200px;
    }
    .photo-carousel img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .carousel-button {
        font-size: 20px;
        padding: 8px;
        max-width: 120px;
    }
}